{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="container content">
  <h1 class="heading">Register</h1>
  <p class="description">Create an account to start managing your movie collection.</p>
  
  <form method="POST" action="{{ url_for('register') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.email.label(class="form-label") }}
      {{ form.email(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.password.label(class="form-label") }}
      {{ form.password(class="form-control") }}
    </div>
    <div class="form-group text-center">
      {{ form.submit(class="button") }}
    </div>
  </form>

  <div class="container text-center">
    <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
  </div>
</div>
{% endblock %}
